<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Think</title>
</head>
<body>
    <h2>是的撒</h2>
    <form action="/text/text2" method="post">
        <table>
            <tr>
                <td>name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Eamil</td>
                <td><input type="text" name="eamil"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>